<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CinemaManagementSystem.Properties.Settings.CINEMAConnectionString"
            connectionString="Data Source=msi\db_server;Initial Catalog=CINEMA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CinemaManagementSystem.Properties.Settings.QUAN_LY_RAP_PHIMConnectionString"
            connectionString="Data Source=msi\db_server;Initial Catalog=QUAN_LY_RAP_PHIM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CinemaManagementSystem.Properties.Settings.TEST_NEConnectionString"
            connectionString="Data Source=msi\db_server;Initial Catalog=TEST_NE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CinemaManagementSystem.Properties.Settings.QUANLYRAPPHIMConnectionString"
            connectionString="Data Source=msi\db_server;Initial Catalog=QUANLYRAPPHIM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CinemaManagementSystem.Properties.Settings.CINEMABConnectionString"
            connectionString="Data Source=msi\db_server;Initial Catalog=CINEMAB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CinemaManagementSystem.Properties.Settings.CINEMAFConnectionString"
            connectionString="Data Source=msi\db_server;Initial Catalog=CINEMAF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>